/*////////////// Fonts //////////////*/
@font-face {
  font-family: Baskerville;
  src: url('../fonts\Baskerville.ttc') format('truetype');
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

h1{
  font-family: Baskerville;
  color: #6f7f7a;
  font-size: 75px;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

img#main{
  border: 5px solid;
  border-color: #98ada6;
}

img{
  border: 5px solid;
  border-color: #cccccc;
}

img:hover{
  border-color: #98ada6;
}

h2{
  color: #6f7f7a;
  font-size: 30px;
}

#footer{
  float: right;
  font-size: 12px;
}
